# Ignore all files
/*

!LICENSE

!.gitignore
!README.md

!.github

!.config/
.config/*

# Include hyprland config
!.config/hypr/
# Include kitty config
!.config/kitty/
# include pipwire config
!.config/pipewire/
# include ags
!.config/ags/
# include fastfetch config
!.config/fastfetch/
# wallpapers
!.config/wallpapers/
# include starship config
!.config/starship.toml
# include cava config
!.config/cava/

# include icons (cursort theme)
!.icons/

# include zsh config
!.zshrc
