.user-panel {
  background-color: rgba($color: #000000, $alpha: 0.2);

  .center {
    border-radius: 200px 200px 20px 20px;
    .profile-picture {
      border-radius: 50%;
      background: transparent;
      min-height: 250px;
      min-width: 250px;
      padding: 0px;
    }
    .image {
      border-radius: 50%;
    }
    .info {
      padding: 10px;
      opacity: 0;

      .user-name,
      .desktop-env {
        font-size: 1.5em;
        color: $foreground;

        .secondary {
          color: $secondary;
        }
      }
      .up-time {
        color: $grey;
      }
    }
    &:hover {
      background-color: $background;
      .profile-picture {
        box-shadow: $BOX-SHADOW;
      }
      .info {
        opacity: 1;
      }
    }
  }

  .system-action {
    font-size: 4em;
    background: $background-transparent;
    transition: all 0.1s;
    border: transparent 5px solid;

    &:hover {
      background: $background;
      text-shadow: $foreground 0 0 1px;
      border-color: $secondary;
    }

    &.logout {
      border-radius: 30px 10px 10px 10px;
      &:hover {
        // bigger in the top left corner
        transform: matrix(1.1, 0, 0, 1.1, -30, -30);
        border-radius: 50px;
        border-width: 15px 5px 5px 15px;
      }
    }

    &.shutdown {
      border-radius: 10px 30px 10px 10px;
      &:hover {
        // bigger in the top right corner
        transform: matrix(1.1, 0, 0, 1.1, 30, -30);
        border-radius: 50px;
        border-width: 15px 15px 5px 5px;
      }
    }
    &.reboot {
      border-radius: 10px 10px 30px 10px;
      &:hover {
        // bigger in the bottom right corner
        transform: matrix(1.1, 0, 0, 1.1, 30, 30);
        border-radius: 50px;
        border-width: 5px 15px 15px 5px;
      }
    }

    &.sleep {
      border-radius: 10px 10px 10px 30px;
      &:hover {
        // bigger in the bottom left corner
        transform: matrix(1.1, 0, 0, 1.1, -30, 30);
        border-radius: 50px;
        border-width: 5px 5px 15px 15px;
      }
    }
  }
}
